@charset 'UTF-8';
@import 'mixins';

$trans: all .2s ease-in-out;
$red: #be0027;
$phi: 'Philosopher', sans-serif;

// @include font-face('fontName', '../fonts/fontPath/fontName', normal); 

body {
	font-family: 'Roboto', sans-serif;
	font-weight: normal;
}

.icon {
	display: inline-block;
	width: 2em;
	height: 2em;
	font-size: 30px;
}

* {
	box-sizing: border-box;
}

h1,
h2,
h3,
p,
ul {
	margin-top: 0;
}

.btn,
input,
textarea,
button:focus {
	outline: none;
}

a {
	text-decoration: none;
	color: inherit;
}

.btn {
	background-color: $red;
	box-shadow: 0 20px 20px 1px rgba(19, 19, 19, 0.4);
	color: #fff;
	text-transform: uppercase;
	font-size: 18px;
	letter-spacing: 0.18px;
	display: inline-block;
	padding: 16px 26px;
	transition: $trans;

	&:hover {
		box-shadow: none;
		background: #7b011a;
	}
}

.container {
	max-width: 1200px;
	margin: 0 auto;
}

.header {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	padding: 30px 0;
	
	.container {
		display: flex;
		justify-content: space-between;
		align-items: center;

		& > div {
			display: flex;
			justify-content: space-between;
			align-items: center;	
		}
	}

	&__menu {
		display: flex;
		align-items: center;
		margin-right: 73px;

		a {
			font-size: 16px;
			color: #fff;
			text-transform: uppercase;
			font-weight: 500;
			display: flex;
			align-items: center;
			margin: 0 16px;

			svg {
				font-size: 10px;
				fill: #fff;
				margin-right: 10px;
			}
		}
	}
}

.social {
	display: flex;
	justify-content: space-between;
	align-items: center;

	a {
		margin: 0 2px;
	}

	svg {
		font-size: 13px;
		fill: #fff;
		margin-right: 10px;

		&.gis,
		&.trip {
			font-size: 25px;
		}
	}
}

.main {
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	color: #fff;
	padding-bottom: 30px;
	overflow: hidden;

	&.full {
		height: 100vh;
	}

	&__info {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		font-size: 18px;

		p {
			line-height: 26px;
			text-transform: uppercase;
			letter-spacing: 0.18px;
			margin-bottom: 12px;

			&.title {
				font-size: 20px;
				letter-spacing: 0.2px;
			}
		}

		span {
			font-size: 20px;
			letter-spacing: 0.2px;
			margin-top: 30px;
			margin-bottom: 15px;
		}

		a {
			text-transform: uppercase;
			font-weight: 500;
			font-size: 28px;
			letter-spacing: 0.28px;
		}

		.btn {
			font-size: 18px;
			margin-top: 55px;
		}
	}

	.scroll {
		transform: rotate(-90deg);
		fill: #fff;
		margin-top: 20px;
		cursor: pointer;
		position: relative;
		animation: scroll 1.5s ease-in-out 0s infinite;
	}
}

@keyframes scroll {
	from {
		top: 0;
		opacity: 1;
	}

	to {
		top: 30px;
		opacity: 0;
	}
}

.column {
	padding: 65px 0;

	.container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	span {
		font-size: 18px;
		letter-spacing: 0.07px;
		display: inline-block;
		margin-bottom: 15px;
	}

	p {
		font-size: 16px;
		line-height: 30px;
		letter-spacing: 0.16px;

		&.title {
			font-family: $phi;
			color: $red;
			font-size: 46px;
		}
	}

	&__text {
		text-align: center;
		padding: 0 11px;
		
		a {
			color: $red;
			font-size: 18px;
			text-decoration: underline;
			text-transform: uppercase;
			letter-spacing: 0.18px;
			display: inline-block;
			margin-top: 15px;

			&:hover {
				text-decoration: none;
			}
		}
	}
}